// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

// fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

.zoom:hover {
 transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.hover-list:hover {
    background-color: $primary;
    a {
        color: white !important;
    }
}

.admin-header {
    height: 80px;
    background-color: $danger;
}

.font10 {
    @include font-size(10px);
  }
  
//   .title {
//     font-size: calc(1.525rem + 3.3vw);
//   }
  
//   @media (min-width: 1200px) {
//     .font10 {
//       font-size: 4rem;
//     }
//   }
  
