// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
  
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

// fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

.zoom:hover {
 transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.hover-list:hover {
    background-color: $primary;
    a {
        color: white !important;
    }
}
.admin-header {
    height: 100px;
    background-image: url('../img/header-low.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-admin{
    width: 75%;
}
.font10 {
    font-size: 10px;
}

// @media (min-width: 800px) {
//     .font10 {
//     font-size: 12px;
// }
// }
@media (min-width: 1045px) {
    .font10 {
    font-size: 12px;
}
}
@media (min-width: 1200px) {
    .font10 {
    font-size: 15px;
}
}
.my-position {
    position: absolute !important;
    left: -30px !important;
    top: 35px !important;
}
@media (max-width: 992px) {
    .sidebar-width{
        width: 60px;
    }

    .navbar-width{
        width: calc(100% - 60px);
    }
}
@media (max-width: 767px) {
    .my-position {
        position: absolute !important;
        left: -48px !important;
        top: 35px !important;
    }
    .text-success{
        font-size: 10px;
    }
}
@media (max-width: 520px) {
    .logo-admin{
        width: 100%;
    }
}
.min-try {
    min-width: 40px;
}
.logout:hover {

    color: $info !important;
    background-color: $secondary;
    text-decoration: underline !important;
}